name: Docker Build & Publish

on:
  push:
    branches:
      - "main"
    tags:
      - "*"
    paths-ignore:
      - ".github/**"
      - "!.github/workflows/docker.yml"
      - ".vscode/**"
      - "doc/**"
      - "lifecycle/**"
      - ".gitignore"
      - "README.md"
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - ".github/**"
      - "!.github/workflows/docker.yml"
      - ".vscode/**"
      - "doc/**"
      - "lifecycle/**"
      - ".gitignore"
      - "README.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  publish:
    #runs-on: self-hosted
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    #if: github.event_name != 'pull_request'
    name: Publish Docker images
    steps:
      # Configure build environment
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Authenticate with Docker Hub and GHCR
      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # stoatchat/client
      - name: Docker meta
        id: meta-delta
        uses: docker/metadata-action@v5
        with:
          images: |
            stoatchat/client, ${{ env.REGISTRY }}/stoatchat/client

      - name: Publish
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          entrypoint: prod
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta-delta.outputs.tags }}
          annotations: ${{ steps.meta-delta.outputs.annotations }}
          labels: ${{ steps.meta-delta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
